Sublime Text 3/Index
Sublime Text 3/Packages/User/Package Control.cache
Sublime Text 3/Packages/User/Package Control.last-run
Sublime Text 3/Packages/SublimeCodeIntel
Sublime Text 3/Local/*
**/*.cache
