[user]
	name = Ivan Zezyulya
	email = ivan@zezyulya.com
[alias]
	cam = commit -a -m
	st = status
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	br = branch
	co = checkout
[apply]
	whitespace = nowarn
[color]
	diff = auto
	status = auto
	branch = auto	 
[diff] 
	tool = gvimdiff
[core]
	quotepath = false
	excludesfile = /Users/ivan/.gitignore_global
[push]
	default = simple
