[user]
	name = Ivan Zezyulya
	email = ivan@zezyulya.com
[alias]
	cam = commit -a -m
	st = status
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	br = branch
	co = checkout
	pul = pull
	pus = push
	re = remote
	pushom = push -u origin master
[apply]
	whitespace = nowarn
[color]
	diff = auto
	status = auto
	branch = auto	 
[diff] 
	tool = gvimdiff
[core]
	quotepath = false
	excludesfile = ~/.gitignore_global
[push]
	default = simple
