[user]
	name = Ivan Zezyulya
	email = ivan@zezyulya.com
[alias]
	cam = commit -a -m
	st = status
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[apply]
	whitespace = nowarn
[color]
	diff = auto
	status = auto
	branch = auto	 
[diff] 
	tool = gvimdiff
[core]
	quotepath = false
	excludesfile = /Users/ivan/.gitignore_global

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
