Sublime Text 3/Index
**/*.cache
**/*.last-run
Sublime Text 3/Packages/SublimeCodeIntel
Sublime Text 3/Local/*
Sublime Text 3/Backup/*
Sublime Text 3/Cache
**/*.cache
**/log.txt
mc/ini
.config/.xnviewmp/*.db
.config/xnviewmp/*.db
.config/wireshark/recent
.config/wireshark/recent_common
.config/hub
.config/Mail.Ru/Mail.Ru_Disko.conf
.config/configstore
.config/gocode
.config/goldencheetah.org
.config/qBittorrent
.config/xnviewmp
.config/xnviewmp
.config/insect-history

.config/far2l

.config/Autodesk
